.app {
  height: 100vh;
  margin: 0 100px;
}

.container {
  display: flex;
  gap: 5rem;
  position: relative;
}

h1 {
  font-size: 100px;
  margin: 0;
  padding-bottom: 20px;
}

.nose {
  position: absolute;
}

.hair {
  position: absolute;
}

.neck {
  position: absolute;
}

.mouth {
  position: absolute;
}

.ears {
  position: absolute;
}

.eyes {
  position: absolute;
}
.leg {
  position: absolute;
}
.accessories {
  position: absolute;
}
